[Desktop Entry]
Version=1.0
Type=Application
Name=CRIC
Comment=Custom Runtime Image Creator
Exec=cric %F
Icon=${SNAP}/meta/gui/cric.png
Terminal=false
Categories=Development;
StartupNotify=true
StartupWMClass=se.trixon.cric.app
